@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@media print {
	body {
		margin: 0 !important;
	}
}

:root {
	--ck-content-font-family: 'Lato';
	--ck-sidebar-width: 270px;
	--ck-editor-height: 700px;
}

.main-container {
	font-family: var(--ck-content-font-family);
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
}

.editor-container__editor-wrapper {
	display: flex;
	width: fit-content;
}

.editor-container_document-editor {
	border: 1px solid var(--ck-color-base-border);
}

.editor-container_document-editor .editor-container__toolbar {
	display: flex;
	position: relative;
	box-shadow: 0 2px 3px hsla(0, 0%, 0%, 0.078);
}

.editor-container_document-editor .editor-container__toolbar > .ck.ck-toolbar {
	flex-grow: 1;
	width: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border-top: 0;
	border-left: 0;
	border-right: 0;
}

.editor-container_document-editor .editor-container__menu-bar > .ck.ck-menu-bar {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border-top: 0;
	border-left: 0;
	border-right: 0;
}

.editor-container_document-editor .editor-container__editor-wrapper {
	max-height: var(--ck-editor-height);
	min-height: var(--ck-editor-height);
	overflow-y: scroll;
	background: var(--ck-color-base-foreground);
}

.editor-container_document-editor .editor-container__editor {
	margin-top: 28px;
	margin-bottom: 28px;
	height: 100%;
}

.editor-container_document-editor .editor-container__editor .ck.ck-editor__editable {
	box-sizing: border-box;
	min-width: calc(210mm + 2px);
	max-width: calc(210mm + 2px);
	min-height: 297mm;
	height: fit-content;
	padding: 20mm 12mm;
	border: 1px hsl(0, 0%, 82.7%) solid;
	background: hsl(0, 0%, 100%);
	box-shadow: 0 2px 3px hsla(0, 0%, 0%, 0.078);
	flex: 1 1 auto;
	margin-left: 72px;
	margin-right: 72px;
}

.editor-container__sidebar {
	min-width: var(--ck-sidebar-width);
	max-width: var(--ck-sidebar-width);
	margin-top: 28px;
	margin-left: 10px;
	margin-right: 10px;
}

.editor-container__editable-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.editor-container__sidebar_ckeditor-ai {
	margin: 0;
	transition: min-width 0.3s ease;
	max-width: calc(var(--ck-sidebar-width) * 2);
	min-width: calc(var(--ck-sidebar-width) * 2);
}

.editor-container__sidebar_ckeditor-ai > .ck.ck-tabs.ck-ai-tabs {
	height: 100%;
	border-top: 0;
	border-right: 0;
	border-bottom: 0;
}

.editor-container__sidebar_ckeditor-ai:has(.ck-tabs.ck-hidden) {
	max-width: 0;
	min-width: 0;
}

.editor-container_contains-wrapper .editor-container__editor-wrapper {
	height: 100%;
}
